<div class="container">

  <div class="masthead">
   <h3 class="text-muted">All About Us</h3>
  </div>

  <div class="jumbotron">
    <h1>Humble beginnings</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Once upon a time...</h2>
      <p>When we were dazed and confused</p>
      <%= link_to "Home", root_path, class: 'btn btn-primary' %>
    </div>

    <!-- <div class="col-md-4">
      <h2>About</h2>
      <p>We have heritage for finely brewed coffees</p>
      <%= link_to "Read More", about_path, class: 'btn btn-primary' %>
    </div>

    <div class="col-md-4">
      <h2>Buy</h2>
      <p>Shop through our online store here.</p>
      <%= link_to "Buy Now", shop_path, class: 'btn btn-primary' %>
    </div> -->
  </div>

</div>
